<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Email</title>
</head>
<body>
<div>Hi,<br></div>

<div> You are promoted as <b th:text="${designation.designation}"></b></div>
<div> You have worked with our company,and over that time you have dedicated to our company.</div>
<div> Now, you will apply your skills even further.</div>
<div> Thank you.</div>
<div> Invicta Innovations</div>
</body>
</html>
